.arrow1, .arrow1_down, .arrow1_hvr, .arrow2, .arrow2_down, .arrow2_hvr, .calendar, .calendar_down, .calendar_hvr, .checkbox, .checkbox_on, .f, .minus, .minus_down, .minus_hvr, .plus, .plus_down, .plus_hvr, .separator, .separator, .slider-handle, .slider-handle_hvr, .star, .t, .y{
	background: url(sprites.png) no-repeat;
}

.arrow1{
	background-position: -20px -120px ;
	width: 11px;
	height: 10px;
}

.arrow1_down{
	background-position: -72px -119px ;
	width: 11px;
	height: 10px;
}

.arrow1_hvr{
	background-position: -112px -118px ;
	width: 11px;
	height: 10px;
}

.arrow2{
	background-position: -166px -121px ;
	width: 11px;
	height: 10px;
}

.arrow2_down{
	background-position: -216px -120px ;
	width: 11px;
	height: 10px;
}

.arrow2_hvr{
	background-position: -261px -122px ;
	width: 11px;
	height: 10px;
}

.calendar{
	background-position: -16px -154px ;
	width: 21px;
	height: 22px;
}

.calendar_down{
	background-position: -65px -153px ;
	width: 21px;
	height: 22px;
}

.calendar_hvr{
	background-position: -113px -153px ;
	width: 21px;
	height: 22px;
}

.checkbox{
	background-position: -161px -153px ;
	width: 22px;
	height: 22px;
}

.checkbox_on{
	background-position: -212px -154px ;
	width: 26px;
	height: 22px;
}

.f{
	background-position: -22px -67px ;
	width: 10px;
	height: 19px;
}

.minus{
	background-position: -266px -163px ;
	width: 12px;
	height: 3px;
}

.minus_down{
	background-position: -316px -164px ;
	width: 12px;
	height: 3px;
}

.minus_hvr{
	background-position: -313px -123px ;
	width: 12px;
	height: 3px;
}

.plus{
	background-position: -16px -20px ;
	width: 11px;
	height: 11px;
}

.plus_down{
	background-position: -67px -19px ;
	width: 11px;
	height: 11px;
}

.plus_hvr{
	background-position: -117px -22px ;
	width: 11px;
	height: 11px;
}

.separator{
	background-position: -156px 0;
	width: 2px;
	height: 22px;
}

.separator{
	background-position: -171px -16px ;
	width: 2px;
	height: 22px;
}

.slider-handle{
	background-position: -213px -11px ;
	width: 20px;
	height: 24px;
}

.slider-handle_hvr{
	background-position: -265px -16px ;
	width: 20px;
	height: 23px;
}

.star{
	background-position: -318px -19px ;
	width: 18px;
	height: 17px;
}

.t{
	background-position: -66px -72px ;
	width: 17px;
	height: 15px;
}

.y{
	background-position: -118px -68px ;
	width: 20px;
	height: 16px;
}

